.hero {
  background-image: url(../images/hero.jpeg);
  background-position: center;
  min-height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__title {
  color: white;
}

.hero__logo {
  background-color: rgba(0,0,0,0.7);
  padding: 16px;
  font-style: normal;
}