.projects {
  padding-inline: 24px;
}

.projects__image-container {
  position: relative;
}

.projects__caption {
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  padding: 8px;
}

.projects__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 16px;
}

.projects__item {
  width: 240px;
}

.projects__image {
  width: 100%;
}